h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.button{
    font-size: 16px;
    font-weight: 400;
    padding: 11px 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background-color: #267df4;
}
  
body{
    margin: 0;
}

.logo{
    display: inline-block;
    width: 140px;
    height: 13px;
    padding-top: 6px;
}

.intro{
    width: 100%;
    height: 100vh;
    background: url(../images/banner_background.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-right: 0;
    padding-left: 0;
}
.apple_icon{
    height: 19px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 3px;
}
.container{
    position: fixed;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.navigation{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

a{
    padding: 0;
    text-decoration: none;
    color: #26272d;
}

.link{ 
    display: inline-block;
    margin-right:40px;
    transition: color 0.2s linear;
}

.link:hover{
    color: #267df4;
}

span{
    font-weight: bold;
}

.heading{
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 62px;
    color: #26272d;
    width: 400;
}

.text_header{
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}

.text_par{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #8c8f94;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 66px;
}

.watch_video{
    display: inline-block;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15.5px 40px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 25px;
}
.play{
    margin-right: 10px;
}